#           Binaries
# - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - #
**/bin
**/bin-int

#           Generated Workspaces
# - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - #

# Xcode
*.xcworkspace
*.xcodeproj

# Visual Studio
*.sln
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
.vs

# Makefile
Makefile

# Visual Studio Code
.vscode