#           Binaries
# - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - #
bin
bin-int

#           GeneratWorkspaces
# - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - #

# Xcode
*.xcworkspace
*.xcodeproj

# Visual Studio
*.sln
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
.vs

# Makefile
Makefile